/*********************************************************
 *  All styles for screens smaller than 480px
 *  Use mobile first approach!
 *********************************************************/
/*********************************************************
 * IMPORT VARIABLES, FONTS AND MIXINS
 *********************************************************/
/*********************************************************
 *  All the variables (colors, fonts) go here!
 *********************************************************/
/*********************************************************
 *  All the fonts go here!
 *********************************************************/
/*********************************************************
 *  All the mixins go here! 
 *********************************************************/
/*********************************************************
 *  All css animations go here
 *********************************************************/
/*********************************************************
 *  All the variables (colors, fonts) go here!
 *********************************************************/
/*******************************************
 * MIXINS
 *******************************************/
/*********************************************************
 * CLASSES
 *********************************************************/
/* Bootstrap overrides */
.row div {
  margin: 0;
  padding: 0; }

.xs-margin {
  margin: 0 10px; }

/*********************************************************
 * GLOBAL 
 *********************************************************/
h1, h2, h3, h4, h5, h6, p, a, li, span, dt, dd, label, input, strong, em, td, th {
  font-family: 'Roboto', sans-serif, Arial, Helvetica; }

body {
  background: #f2f2f2; }

ul {
  list-style-type: none;
  padding: 0; }

/* VIEWPORT FIXES (http://timkadlec.com/2013/01/windows-phone-8-and-device-width/) */
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
/*********************************************************
 * HEADER
 *********************************************************/
/*********************************************************
 * MAIN
 *********************************************************/
/*********************************************************
 * FOOTER
 *********************************************************/
/*********************************************************
 * MEDIA QUERIES
 *********************************************************/
@media only screen and (min-width: 30em) {
  /*********************************************************
   *  All styles for screens larger than 30em (480px)
   *********************************************************/
  /*********************************************************
   * IMPORT VARIABLES, FONTS AND MIXINS
   *********************************************************/
  /*********************************************************
   *  All the variables (colors, fonts) go here!
   *********************************************************/
  /*********************************************************
   *  All the fonts go here!
   *********************************************************/
  /*********************************************************
   *  All the mixins go here! 
   *********************************************************/
  /*********************************************************
   *  All css animations go here
   *********************************************************/
  /*********************************************************
   *  All the variables (colors, fonts) go here!
   *********************************************************/
  /*******************************************
   * MIXINS
   *******************************************/
  /*********************************************************
   * CLASSES
   *********************************************************/
  /*********************************************************
   * GLOBAL 
   *********************************************************/
  /*********************************************************
   * HEADER
   *********************************************************/
  /*********************************************************
   * MAIN
   *********************************************************/
  /*********************************************************
   * FOOTER
   *********************************************************/ }
@media only screen and (min-width: 48em) {
  /*********************************************************
   *  All styles for screens larger than 48em (768px)
   *********************************************************/
  /*********************************************************
   * IMPORT VARIABLES, FONTS AND MIXINS
   *********************************************************/
  /*********************************************************
   *  All the variables (colors, fonts) go here!
   *********************************************************/
  /*********************************************************
   *  All the fonts go here!
   *********************************************************/
  /*********************************************************
   *  All the mixins go here! 
   *********************************************************/
  /*********************************************************
   *  All css animations go here
   *********************************************************/
  /*********************************************************
   *  All the variables (colors, fonts) go here!
   *********************************************************/
  /*******************************************
   * MIXINS
   *******************************************/
  /*********************************************************
   * CLASSES
   *********************************************************/
  /*********************************************************
   * GLOBAL 
   *********************************************************/
  /*********************************************************
   * HEADER
   *********************************************************/
  /*********************************************************
   * MAIN
   *********************************************************/
  /*********************************************************
   * FOOTER
   *********************************************************/ }
@media only screen and (min-width: 62em) {
  /*********************************************************
   *  All styles for screens larger than 62em (992px)
   *********************************************************/
  /*********************************************************
   * IMPORT VARIABLES, FONTS AND MIXINS
   *********************************************************/
  /*********************************************************
   *  All the variables (colors, fonts) go here!
   *********************************************************/
  /*********************************************************
   *  All the fonts go here!
   *********************************************************/
  /*********************************************************
   *  All the mixins go here! 
   *********************************************************/
  /*********************************************************
   *  All css animations go here
   *********************************************************/
  /*********************************************************
   *  All the variables (colors, fonts) go here!
   *********************************************************/
  /*******************************************
   * MIXINS
   *******************************************/
  /*********************************************************
   * CLASSES
   *********************************************************/
  /*********************************************************
   * GLOBAL 
   *********************************************************/
  /*********************************************************
   * HEADER
   *********************************************************/
  /*********************************************************
   * MAIN
   *********************************************************/
  /*********************************************************
   * FOOTER
   *********************************************************/ }
@media only screen and (min-width: 75em) {
  /*********************************************************
   *  All styles for screens larger than 75em (1200px)
   *********************************************************/
  /*********************************************************
   * IMPORT VARIABLES, FONTS AND MIXINS
   *********************************************************/
  /*********************************************************
   *  All the variables (colors, fonts) go here!
   *********************************************************/
  /*********************************************************
   *  All the fonts go here!
   *********************************************************/
  /*********************************************************
   *  All the mixins go here! 
   *********************************************************/
  /*********************************************************
   *  All css animations go here
   *********************************************************/
  /*********************************************************
   *  All the variables (colors, fonts) go here!
   *********************************************************/
  /*******************************************
   * MIXINS
   *******************************************/
  /*********************************************************
   * CLASSES
   *********************************************************/
  /*********************************************************
   * GLOBAL 
   *********************************************************/
  /*********************************************************
   * HEADER
   *********************************************************/
  /*********************************************************
   * MAIN
   *********************************************************/
  /*********************************************************
   * FOOTER
   *********************************************************/ }
@media only screen and (min-width: 82em) {
  /*********************************************************
   *  All styles for screens larger than 82em (1312px)
   *********************************************************/
  /*********************************************************
   * IMPORT VARIABLES, FONTS AND MIXINS
   *********************************************************/
  /*********************************************************
   *  All the variables (colors, fonts) go here!
   *********************************************************/
  /*********************************************************
   *  All the fonts go here!
   *********************************************************/
  /*********************************************************
   *  All the mixins go here! 
   *********************************************************/
  /*********************************************************
   *  All css animations go here
   *********************************************************/
  /*********************************************************
   *  All the variables (colors, fonts) go here!
   *********************************************************/
  /*******************************************
   * MIXINS
   *******************************************/
  /*********************************************************
   * CLASSES
   *********************************************************/
  /*********************************************************
   * GLOBAL 
   *********************************************************/
  /*********************************************************
   * HEADER
   *********************************************************/
  /*********************************************************
   * MAIN
   *********************************************************/
  /*********************************************************
   * FOOTER
   *********************************************************/ }
/***********************************
 * RETINA
 ***********************************/

/*# sourceMappingURL=style.css.map */
